@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html {
	scroll-behavior: smooth;
}

input,
textarea {
	outline: none;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	/* background-color: #eeeeee;
	color: #222831; */
	transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
	/* background-color: #222831;
	color: #eeeeee; */
}

/* header {
	background-color: #eeeeee;
	color: #222831;
}
.dark header {
	background-color: #222831;
	color: #eeeeee;
} */

.container {
	@apply max-w-[1400px] px-[15px] mx-auto;
}
